.Weather {
  padding: 20px;
  border: 1px solid black;
  border-radius: 5px;
  background-image: url(./flowers.jpg);
  background-size: cover;
  background-position: center;
  color: whitesmoke;
  text-shadow: -1px 0 grey, 0 1px grey, 1px 0 grey, 0 -1px grey;
}

.Weather canvas {
  padding: 20px;
  outline: whitesmoke 3px solid;
}

h1,
h2,
h3 {
  color: black;
  text-shadow: -1px 0 #acc6aa, 0 1px #acc6aa, 1px 0 #acc6aa, 0 -1px #acc6aa;
}

h2 {
  margin-bottom: 0;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
  margin: 5px;
  padding: 0;
}

a {
  color: #77628c;
}

a:hover {
  color: #71a0a5;
}

.btn {
  background-color: #acc6aa;
  color: whitesmoke;
  border-color: white;
}

.btn:hover {
  background-color: whitesmoke;
  color: #acc6aa;
}
